
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mb-32{
    margin-bottom: 32px;
}

.mt-48{
    margin-top: 48px;
}

.ml-16{
    margin-left: 16px;
}

.ml-8{
    margin-left: 8px;
}

#main{
    padding-top: 0;
    padding-left: 272px;
}

/* Begin navbar */
.navbar{
    width: 272px;
    height: 100vh;
    background-color: #3f9599;
    float: left;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    /* display: none; */
}

.navbar-img{
    display: flex;
    margin: auto auto 0;
    padding: 8px;
}

.navbar-img-avt{
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    border: 0.8rem solid rgba(255, 255, 255, 0.2);
}

.navbar-content{
    display: flex;
    margin: 0 auto auto auto;
}

.navbar-content-ul{
    padding: 0;
}

.navbar-content-li{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.navbar-content-li:hover .navbar-content-a{
    color: #fff;
}

.navbar-content-a{
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: #FFFFFF80;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

/* End navbar */

.content{
    height:100vh;
    position: relative;
    z-index: 1;
}

.resume-section{
    padding: 80px 48px;
    min-height: 100vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Begin about */

.about-name{
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 9.6rem;
    color: #343a40;
    padding: 0;
    margin: 0;
}

.about-name-span{
    color: #3f9599;
}

.about-sub-name{
    color: #6c757d;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 48px;
    font-weight: 400;
}

.about-sub-name-gmail{
    color: #3f9599;
}

.about-content{
    font-size: 1.8rem;
    color: #6c757d;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 48px;
}

.social-icon{
    width: 5.6rem;
    height: 5.6rem;
    background-color: #495057;
    color: #fff;
    font-size: 2.4rem;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;

}

.social-icon:hover{
    background-color: #3f9599;
}

/* End about */

.heading1{
    font-size: 5.6rem;
    color: #343a40;
    line-height: 6.8rem;
    text-transform: uppercase;
    margin-bottom: 48px;
    font-weight: 700;
    letter-spacing: 0.1rem;

}

.timeline-job{
    display: flex;
    margin-bottom: 48px;
    flex-direction: row;
}

.job{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.heading2{
    color: #343a40;
    font-size: 3.2rem;
    line-height: 38.4px;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.heading3{
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 16px;
    color: #6c757d;
    text-transform: uppercase;
    font-weight: 400;
}

.timeline-job-content{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #6c757d;
    margin-bottom: 16px;
}

.timeline{
    display: flex;
    flex-shrink: 0;
    font-size: 1.6rem;
    color: #3f9599;

}

/* Begin experience */

.experience-img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 1px 1px 11px 5px #888;
    transition: transform 0.3s;
}


.experience-link-img:hover .experience-img{
    transform: scale(1.007);
}
/* End experience */

/* Begin skills */
.list-inline-icons{
    font-size: 4.8rem;
    list-style-type: none;
    color: #6c757d;
    display: inline-flex;
    margin-bottom: 36px;
}

.list-inline-item{
    margin-right: 24px;
}

.base-skills{
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 8px;
    color: #6c757d;
    text-transform: uppercase;
    font-weight: 400;
}

.list-inline-nodes{
    list-style-type: none;
    font-size: 1.6rem;
    display: inline-flex;
    margin-bottom: 36px;
}

.list-inline-node{
    margin-right: 8px;
    color: #3f9599;
}

.text-color{
    color: #aaabac;
}
/* End skills */

/* Begin awards */
.list-awards-ul{
    list-style-type: none;
}

.list-award-li{
    display: flex;
    font-size: 2rem;
    margin-right: 16px;
    color:#ffc107;
}
/* End awards */


/* Begin Responsive */

/* Begin navbar-mobile */
.navbar-mobile-checkbox{
    position: fixed;
    width: 100%;
    background-color: #3f9599;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: none;
}

.navbar-mobile-checkbox-btn{
    display:flex;
    color:#fff;
    font-size: 4rem;
    align-items: center;
    margin-left: 20px;
}

.navbar-mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:260px;
    background-color: #3f9599;
    z-index: 100;
    display: flex;
    align-items: center;
    display: none;
}

.navbar-mobile-content-li{
    padding: 8px 16px 8px 16px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.navbar-mobile-content-a{
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: #FFFFFF80;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.navbar-mobile-content-li:hover .navbar-mobile-content-a{
    color: #fff;
}

/* End navbar-mobile */

/* Mobile and Tablet */
@media only  screen and (max-width: 1023px){
    #main{
        padding-left: 0;
    }
    .navbar{
        display: none;
    }
    .navbar-mobile-checkbox{
        display: flex;
    }
}

/* Mobile */
@media only screen and (max-width: 739px){

}

/* Tablet */
@media only screen and (max-width: 1023px) and (min-width: 740px){

}

/* PC */
@media only screen and (min-width: 1024px){
    
}

/* End Responsive */
